@font-face {
    font-family: calibri;
    src: url(./calibri-regular.ttf);
}
:root {
    --color1 : #059669;
    --color2:  #d0ede2;
    --color3: white;
}
html, body {
    margin: 0;
    height: 100%;
    font-family: calibri;
    color: white;
}
.container {
    display: grid;
    grid-template: minmax(120px, 180px) minmax(300px, 1fr) /minmax(200px, 250px) minmax(800px, auto);
    height: 100%;
}
/* SIDEBAR START */
.sidebar {
    grid-row: 1/3;
    background-color: #059669;
    display: grid;
    grid-template-rows: repeat(3, auto);
    row-gap: 50px;
    align-content: start;
    padding: 20px;
    position: relative;
    z-index: 1;



}
.logo {
    display: grid;
    grid-template-columns: 40px auto;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
    justify-content: start;
    column-gap: 10px;
}
.logo > span {
    font-size: 1.6rem;
    font-weight: bold;
}
.options, .settings {
    display: grid;
    grid-template-rows: repeat(6, 35px);

}
.options > div, .settings > div {
    display: grid;
    grid-template-columns: 20px auto;
    align-items: center;
    gap: 20px;
}
.options svg ,.settings svg {
    width: 20px;
}
.options > div > span, .settings span {
    font-size: 1.1rem;
    font-weight: bold
}
.options span:hover, .settings span:hover {
    cursor: pointer;
    text-decoration:underline;
    font-size: 1.2rem;
}
/* SIDEBAR END */
/* HEADER START */
.header {
    grid-column: 2;
    background-color: var(--color3);
    display: grid;
    grid-template-rows: auto 3auto;
    color: black;
    padding-top: 5px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 5px;
    box-shadow: 1px 0 10px 1px rgb(159, 159, 159);
    position: relative;
    z-index: 1;
}
.header .row1 {
    display: grid;
    grid-template-columns: 1fr 300px;
    font-size: 1.4rem;
    font-weight: bold;
}
.header .row1 .part1 {
    display: flex;
    align-items: center;
    gap: 15px;
}
.header .row1 .part2 {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
    
}
.header svg {
    width: 25px;
}
.header .row1 img {
    width: 40px;
    height: auto;
    border-radius: 50px;
}
.header form {
    flex: 3;
    max-width: 500px;
    height: 30px;
}
.header #searchbar {
    width: 100%;
    appearance: none;
    height: 100%;
    border-radius: 15px;
    background-color: var(--color2);
    border: 0;
    padding: 8px;
    font-size: 1rem;
}
#searchbar:focus {
    outline: none;
    box-shadow: 0 0 0 3px var(--color1);
}
.header .empty {
    flex: 1;
}
.header .row2 img{
    width: 80px;
    border-radius: 50px;
}
.header .row2 {
    display: grid;
    grid-template-columns: 1fr 400px;
    column-gap: 50px;
}
.row2 .text div {
    font-weight: bold;
}
.row2 .text div:last-child {
    font-size: 1.5rem;
}
.header .row2 .part1 {
    display: flex;
    gap: 25px;
    align-items: center;
}
.header button {
    border: 2px solid var(--color1);
    width: 100px;
    height: 40px;
    background-color: var(--color1);
    color: white;
    font-weight: bold;
    border-radius: 15px;
    font-size: 1rem;
    cursor: pointer;
}
.header button:hover {
    background-color: white;
    color: var(--color1);
}
.header .row2 .part2 {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    align-content: center;
}
.header label {
    height: 25px;
    cursor: pointer;
}


/* HEADER END */
.main-content {
    grid-column: 2;
    grid-row: 2;
    background-color: var(--color2);
    display: grid;
    grid-template-columns: 1fr minmax(150px, 300px);
    overflow: auto;
    padding-bottom: 40px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    column-gap: 20px;
    

}
#your-projects {
    font-size: 1.4rem;
    margin-left: 50px;

    color: black;
    font-weight: bold;
}
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, 380px);
    gap: 30px;
    padding: 10px 0px 0px 0px;
    align-content: start;
    justify-content: space-around;

}
.card {
    height: 240px;
    width: 380px;
    background-color: white;
    border-radius: 10px 20px / 10px 20px;
    border-left: 12px solid purple;
    box-shadow: 1px 0 10px 1px rgb(159, 159, 159);
    color: rgb(81, 80, 80);
    box-sizing: border-box;
    padding: 20px;
    display: grid;
    grid-template-rows: auto auto auto;
    cursor: default;

}
.card svg {
    width: 25px;
    align-self: end;
    margin-left: 30px;
    cursor: pointer;
}
.card .title {
    font-weight: bolder;
    font-size: 1.2rem;
    color: black;
}
.card .text {
    font-size: 1.1rem;
    font-weight: lighter;
}
.card:hover {
    border-left: 12px solid rgb(181, 20, 181);
}
.icons {
    justify-self: end;
}
.announcements {
    color: black;
}
.list {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    display: grid;
    grid-template-rows: auto auto auto;
    row-gap: 20px;
}
.main {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
}
.announcements .title {
    font-weight: bold;
    font-size: 1.1rem;
}
.announcements .text {
    color:rgb(81, 80, 80);
}
.entry {
    border-bottom: 2px solid rgb(194, 193, 193);
    padding: 15px;
}
.profiles {
    background-color: white;
    border-radius: 10px;
    color: black;
    padding: 10px;
    display: grid;
    grid-template-rows: repeat(autofit, auto);
    row-gap: 15px;

}
.profile {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: start;
    column-gap: 20px;
    cursor: pointer;
}
.profiles img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 3px solid var(--color1);
}
.info {
    display: grid;
    grid-template-rows: repeat(auto-fit, auto);
    row-gap: 30px;
}